
@font-face {
    font-family: 'Kanit Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Kanit Regular'), url('Kanit-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Kanit Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Kanit Thin'), url('Kanit-Thin.woff') format('woff');
}
    @font-face {
    font-family: 'Kanit ExtraLight';
    font-style: normal;
    font-weight: normal;
    src: local('Kanit ExtraLight'), url('Kanit-ExtraLight.woff') format('woff');
}

@font-face {
    font-family: 'Kanit Light';
    font-style: normal;
    font-weight: normal;
    src: local('Kanit Light'), url('Kanit-Light.woff') format('woff');
} 

@font-face {
    font-family: 'Kanit Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Kanit Medium'), url('Kanit-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Kanit SemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('Kanit SemiBold'), url('Kanit-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Kanit Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Kanit Bold'), url('Kanit-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Kanit ExtraBold';
    font-style: normal;
    font-weight: normal;
    src: local('Kanit ExtraBold'), url('Kanit-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'Kanit Black';
    font-style: normal;
    font-weight: normal;
    src: local('Kanit Black'), url('Kanit-Black.woff') format('woff');
}
